html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 2rem;
    padding: 0 5%;
}

header p {
    font-size: 1rem;
    padding: 0 10px;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: -30px;
    margin-bottom: 30px;
    flex: 1;
}

footer {
    text-align: center;
    background-color: #34495e;
    bottom: 0;
    color: #ffffff;
    font-size: 16px;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
}

.container h2 {
    font-size: 24px;
    color: #333333;
}

.container p {
    font-size: 16px;
    line-height: 1.5;
    color: #666666;
}

.advantages {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.advantage {
    flex: 1;
    text-align: center;
    padding: 20px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin: 2px;
    /* Apply a basic box shadow */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

}

.advantage h3 {
    font-size: 18px;
    color: #333333;
}

.advantage p {
    font-size: 14px;
    color: #666666;
}

.get-started-button {
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 15px 20px;
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

.hover {
    background-color: #34495e;
}

.advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* @media (min-width: 968px) {
    footer {
        position: absolute;
        bottom: 0;
    }
} */

@media (max-width: 768px) and (min-width: 551px) {
    .advantages {
        grid-template-columns: repeat(2, 1fr);
    }

    .advantages .advantage:nth-child(3) {
        grid-column: span 2;
    }
}

@media (max-width: 550px) {
    .advantages {
        grid-template-columns: repeat(1, 1fr);
    }
}

.advantage {
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--grey);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 20px;
    right: 20px;
}

.back-button:hover {
    background-color: #435668;
    background-color: var(--white);
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

@media screen and (max-width: 560px) {
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .get-started-button {
        width: 100%;
        padding: 2% 10%;
    }
}
