@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

:root {
     --grey: #536976;
    --white: #292E49;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background: linear-gradient(to bottom right, var(--grey), var(--white));
    color: #ffffff;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 2rem;
    padding: 0 5%;
}

header p {
    font-size: 1.1rem;
    padding: 0 20px;
}

/* Container styles */
.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: -30px;
    margin-bottom: 30px;
    margin-bottom: 30px;
}

.container h2 {
    font-size: 24px;
    color: #333333;
}

.container p {
    font-size: 16px;
    line-height: 1.5;
    color: #666666;
}

/* Button styles */
.get-started-button {
    display: inline-block;
    padding: 10px 10px;
    background: linear-gradient(to right, var(--grey), var(--white));
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 49%;
}

.get-started-button:hover {
    background-color: var(--white);
}

/* Footer styles */
footer {
    text-align: center;
    background-color: #34495e;
    bottom: 0;
    color: #ffffff;
    font-size: 16px;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
}

/* Form styles */
form {
    padding: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 99%;
    padding-left: 8px !important;
    padding: 6px 0;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="file"] {
    margin: 10px 0;
}

.show-password {
    display: flex;
    align-items: center;
    min-width: 100px;
    justify-content: space-evenly;
}

input[type="checkbox"] {
    margin-left: 10px;
}

/* Message dialog styles */
.message-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 999;
}

.message-dialog h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.message-dialog button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(to right, var(--grey), var(--white));
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.message-dialog button:hover {
    background-color: var(--white);
}

label {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #333333;
    /* font-family: 'Roboto', sans-serif;  */
}


input[type="file"] {
    width: 98%;
    padding: 5px;
    margin: 10px 0;
    /* border: 2px solid var(--grey); Border color when not hovered */
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333333;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

/* Style when the file input is hovered */
input[type="file"]:hover {
    border-color: var(--white);
}

/* Style when the file input is focused (clicked) */
input[type="file"]:focus {
    border-color: var(--grey);
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.7);
}

/* Style for the selected file name */
input[type="file"]::file-selector-button {
    background: linear-gradient(to right, var(--grey), var(--white));
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

/* Style when the file input is disabled */
input[type="file"]:disabled {
    background-color: #dddddd;
    cursor: not-allowed;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #435668;
    background-color: var(--white);
}

.password-label {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
    color: #333333;
}

.password-link {
    color: #1b5dc6; /* Link color */
    text-decoration: none;
}

.password-link:hover {
    text-decoration: none; /* Underline the link on hover */
}

.small-input {
    max-width: 500px; 
}

/* Style the "Show Password" label */
label[for="password-toggle"] {
    font-size: 18px; /* Increase font size for emphasis */
    font-weight: normal; /* Make the text bold for prominence */
    color: #333; /* Dark text color */
    display: inline-block; /* Display label inline with the checkbox */
}

/* Style the checkbox container */
.password-wrapper {
    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
}

/* Style the checkbox itself */
#password-toggle {
    margin-left: 5px; /* Add left margin for spacing */
    width: 20px; /* Increase checkbox size */
    height: 20px; /* Increase checkbox size */
    cursor: pointer; /* Change cursor on hover to indicate interactivity */
}

/* Add a custom checkbox appearance */
#password-toggle::before {
    font-family: 'Font Awesome 5 Free'; /* Use Font Awesome for the icon */
    font-weight: 900; /* Bold weight for the icon */
    font-size: 18px; /* Icon size */
    color: #333; /* Icon color */
    display: inline-block; /* Display the icon inline with the checkbox */
    margin-right: 5px; /* Add right margin for spacing */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
/* Change icon color on hover for visual feedback */
#password-toggle:hover::before {
    color: var(--grey); /* Change icon color on hover */
}

.label-show-password {
    margin-left: 10px;
}

#button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#previousButton, #nextButton, #closeButton {
    font-size: 15px;
    display: flex;
    justify-content: center;
    width: 90px;
}

#closeButton {
    width: 75px;
    margin-right: 10px;
    background-color: rgb(193, 1, 1);
}

#closeButton:hover {
   background-color: rgb(152, 1, 1);
}

#navButtons {
    display: flex;
    gap: 10px;
}

.routes {
    position: absolute;
    top: 15px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Button styles */
button {
    display: inline-block;
    padding: 8px 20px;
    background: linear-gradient(to right, var(--grey), var(--white));
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
}

button:hover {
    background-color: var(--white);
}

#my-expressjs-tinymce-app {
    font-family: Arial, sans-serif; /* Change the font-family to your desired font */
    /* Add other CSS styles as needed */
}

@media screen and (max-width: 560px) {
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .get-started-button {
        width: 100%;
        padding: 2% 10%;
    }
}

.blur-background {
    filter: blur(5px); /* Adjust the blur intensity as needed */
    pointer-events: none; /* Prevent interaction with blurred elements */
}

.modal {
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, var(--grey), var(--white));
}

.loader {
    height: 40px;
    position: sticky;
    top: 50vh;
    left: 46vw;
    z-index: 2;
}
@media screen and (max-width: 560px) {
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .get-started-button {
        width: 100%;
        padding: 2% 10%;
    }
}
